<%- include('../partials/header.ejs') %>

    <a href="/topics">← Volver a Temas</a>

    <h1>Editar Tema</h1>
    <form action="/topics/<%= topic.id %>?_method=PUT" method="POST">
        <input type="text" name="title" value="<%= topic.title %>" placeholder="Título del tema" required>
        <input type="text" name="description" value="<%= topic.description %>" placeholder="Descripción del tema"
            required>
        <button type="submit">Actualizar</button>
    </form>

    <script src="/js/main.js"></script>

    <%- include('../partials/footer.ejs') %>