<%- include('../partials/header.ejs') %>

    <a href="/topics/<%= topicId %>">← Volver al Tema</a>

    <h1>Editar Enlace</h1>
    <form action="/topics/<%= topicId %>/links/<%= link.id %>?_method=PUT" method="POST">
        <input type="text" name="title" value="<%= link.title %>" placeholder="Título del enlace" required>
        <input type="text" name="url" value="<%= link.url %>" placeholder="URL del enlace" required>
        <button type="submit">Actualizar</button>
    </form>

    <%- include('../partials/footer.ejs') %>